.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background{
  background-image: url(./background.png);
  background-position: center;
  color: white;
  height: 500px;
}

.letter{
  position: absolute;
  left:100px;
  top:350px;
  font-size: 40px;
}

#navbarScroll{
  justify-content: space-around;
}

#nav_menu{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}

#navbarScrollingDropdown{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


