.grey{
    background: black;
    height: 2000px;
    margin-top: 600px;
    margin-bottom: 1600px;
}

.sticky{
    /* sticky는 좌표속성을 같이 써줘야 잘 작동함. */
    position: sticky;
    top: 100px;
    float:right;
}

.left-text{
    float: left;
    color: white;
    padding: 20px;
}

.card-background{
    height: 3000px;
    margin-top: 200px;
    margin-bottom: 1600px;
}

.card-box img{
    display: block;
    margin: auto;
    max-width: 80%;
}

.card-box{
    position: sticky;
    top: 200px;
    margin-top: 200px;
}